.background {
  background-color: black;
  background-image: url("images/a-calm-and-blue-sea-water-background-with-sky-free-photo.jpg");
  background-size: cover;
  background-position: center top;
}

.content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content .text {
  font-size: 50px;
  background: rgb(38,25,255);
  background: linear-gradient(360deg, rgba(38,25,255,1) 0%, rgba(0,0,255,1) 0%, rgba(0,255,18,1) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .buttonImage {
  padding-top: 100px;
  height: 50%;
}

.content .button {
  border: none;
  background: none;
}