.background {
  background-color: black;
  background-image: url("images/forest.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content .textBackground {
  background: rgba(0, 0, 0, .4);
}

.content .text {
  margin: 0;
  font-size: 50px;
  font-family: sans-serif;
  background: rgb(153,153,200);
  background: linear-gradient(180deg, rgba(153,153,200,1) 0%, rgba(168,106,129,1) 10%, rgba(255,0,124,1) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(140%);
}

.content .buttonImage {
  padding-top: 100px;
  height: 50%;
}

.content .button {
  border: none;
  background: none;
}

#curiosityText {
  font-size: 30px;
  font-family: sans-serif;
  background: rgb(153,153,200);
  background: linear-gradient(180deg, rgba(153,153,200,1) 0%, rgba(168,106,129,1) 10%, rgba(255,0,124,1) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}